html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div#CourseSection .dt-length label, #studentBody .dt-length label, #DepartmentSection .dt-length label, #InstructorBody .dt-length label {
    padding-left: 5px;
    text-transform: capitalize;
    font-size: 18px;
}

#modulesAccordion .accordion-button:focus {
    border: 0px !important;
    outline: 0;
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
     box-shadow: none!important; 
}


