@model MohiuddinCoreMasterDetailCrud.Models.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="float-start">Student List</h2>
                <button type="button" id="addStudentBtn" class="float-end btn btn-success" data-bs-toggle="modal" data-bs-target="#StudentModal">
                    Add Student
                </button>
            </div>
            <div class="card-body">
                <div id="studentBody"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StudentModal" tabindex="-1" aria-labelledby="StudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="StudentModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="studentForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" asp-for="StudentId" />
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="StudentName" class="control-label mb-1"></label>
                                <input asp-for="StudentName" class="form-control" />
                                <span asp-validation-for="StudentName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="MobileNo" class="control-label mb-1"></label>
                                <input asp-for="MobileNo" class="form-control" />
                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="GuardianName" class="control-label mb-1"></label>
                                <input asp-for="GuardianName" class="form-control" />
                                <span asp-validation-for="GuardianName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="RelationWithGuardian" class="control-label mb-1"></label>
                                <input asp-for="RelationWithGuardian" class="form-control" />
                                <span asp-validation-for="RelationWithGuardian" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="Dob" class="control-label mb-1"></label>
                                <input asp-for="Dob" class="form-control" type="date" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="GuardianMobile" class="control-label mb-1"></label>
                                <input asp-for="GuardianMobile" class="form-control" />
                                <span asp-validation-for="GuardianMobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="PresentAddress" class="control-label mb-1"></label>
                                <input asp-for="PresentAddress" class="form-control" />
                                <span asp-validation-for="PresentAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="PermanentAddress" class="control-label mb-1"></label>
                                <input asp-for="PermanentAddress" class="form-control" />
                                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label asp-for="CourseId" class="control-label mb-1"></label>
                                <select class="form-control" asp-for="CourseId" id="CourseId">
                                    <option value="0">---Select Course---</option>
                                </select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row btn-group mb-2">
                        <div class="form-group col-md-8">
                            <label asp-for="ProfileFile" class="control-label mb-1"></label>
                            <div class="customFile">
                                <input asp-for="ProfileFile" type="file" class="custom-file-input" onchange="readUrl(this)" />
                                <label class="custom-file-label invisible" for="customFile">Choose File</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <img id="imageFile" src="~/Images/noimage.jpg" class="img-thumbnail" />
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveStudent" class="btn btn-primary" >Insert</button>
                    <button type="button" id="updateStudent" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="stdDetailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="stdDetailsModalLabel">Details Information of: <span id="stdDetailsModalName" class="fw-bold"></span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/students.js"></script>
